html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3cccc;
    color: #FFFFFF;
    /* overflow: scroll; */
    width: 100%;
    /* overflow-x: hidden; */

}

.pt-mono-regular {
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }

  /* Navbar Styles */

header {
    position:static; 
    width: 100%;
    background-color: white; 
    transition: top 0.8s ease-in; 
    z-index: 2;
}

header.fixed {
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    z-index: 2;
}

header:not(.fixed) {
    transition: top 0.6s ease-in;
}

.navbar {
    width: 100%; 
    height: 42px;
    background: #087E8B;
    color: #FFFFFF;
    padding: 14px 42px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 2;
}

/* Navigation Links */
.navbar nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.navbar nav ul li a {
    color: #FFFFFF; 
    text-decoration: none;
    font-weight: bold;
    font-size: 20pt;
    padding: 5px;
}


/* Hero Section */
.hero-section {
    /* background-color: #f7c9b8; */
    background-image: url('assets/background3.png');
    background-size: initial; 
    background-position: center;
    background-repeat: no-repeat;
    height: 45%;
    box-sizing: border-box;
    z-index: 1;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content img {
    position: relative;
    width: 351px;
    height: 351px;
    z-index: 1; 
}

.hero-content h1 {
    color: #000000;
    font-size: 80pt;
    padding-left: 40px;
    padding-top: 180px;
}

/* About Section */
.about-section {
    background: linear-gradient(to bottom, #FCDBD1, #D3C9C8);
    color: #03363b;
    /* height: 30%; */
    text-align: left;
    padding: 75px 60px;
    box-sizing: border-box;
}

.about-section p {
    font-size: 25pt;
    font-family: "PT Mono", monospace;
    margin-bottom: 20px;
}

/* Experience section */
.experience-section {
    height: auto;
    width: auto;    
    display: flex;
    align-items: center;
    padding: 70px 20px;
    background: linear-gradient(to bottom, #D3C9C8, #087E8B);
    box-sizing: border-box;
    gap: 0px;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px; */
}

.experience-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 65px;
    margin-left: 10px;
    max-width: 580px;

}

.experience-item {
    width: 90%;
    padding: 20px;
    margin-right: 0px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* background-color: pink; */

}

.experience-item h3 {
    font-size: 35px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0 0 10px;
}

.experience-item p {
    font-size: 25px;
    font-weight: lighter;
    margin: 0;
    color: #FFFFFF;
}

.experience-item:hover {
    transform: scale(1.02); 
    cursor: pointer;
}

#experience-1:hover ~ .album-cover .resume-img img {
    content: url('assets/job1.png');
}

#experience-2:hover ~ .album-cover .resume-img img {
    content: url('assets/job2.png');
}

#experience-3:hover ~ .album-cover .resume-img img {
    content: url('assets/job3.png');
}

.job-number {
    font-size: 35px;
    margin-left: 28px;
    display: flex;
    flex-direction: column;
    gap: 118px;
    margin-left: 35px;
    margin-right: 50px;
}

.experience-dates {
    font-size: 26px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    margin-left: -15px; 
    margin-right: 95px; 
    margin-top: 32px;
}

.album-cover {
    flex: 1;
    position: relative;
    max-width: 500px; 
    overflow: hidden;
    margin-left: 35px; 


}

.album-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}

.play-button {
    position: relative;
    right: 10px;
    width: 30px;
    height: 30px;
    background: url('assets/mock-playbutton-small.png') no-repeat center center;
    background-size: cover;
}

.play-button img {
    cursor: pointer;
}

.experience-item:hover {
    transform: scale(1.02); 
}


/* Projects section */
.projects-section {
    background: linear-gradient(to bottom, #087E8B, #A8E0FF);
    box-sizing: border-box;
    position: relative;
    padding: 45px;
}

.projects-section h2 {
    font-size: 1.5rem;
    position: absolute;
    top: 20px;
    left: 45px;
    margin: 0;
    padding-top: 40px;
    font-size: 35px;
    font-weight: bold;
}

.projects-list-container {
    margin-bottom: 70px;
}

.projects-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 24px;
    padding-top: 82px; 
}

.project-item {
    flex: 0 0 300px;
    scroll-snap-align: center;
    text-align: center;
    position: relative; 
}

.project-item img {
    width: 100%;
    height: auto;
}

.play-button {
    position: absolute;
    bottom: 100px;
    right: 1px;
    width: 60px;
    height: 60px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    cursor: pointer;
}

.play-button img {
    width: 70%;
    height: 70%;

}

.projects-list::-webkit-scrollbar {
    display: none;
}

/* Contact section */

.form-title .linkedin {
    cursor: pointer;
    width: 45px;
    height: 45px;
    padding-left: 45px;

}

.form-title .github {
    cursor: pointer;
    width: 43px;
    height: 43px;
    padding-bottom: 2px;
}

.contact-section {
    background: linear-gradient(to bottom, #A8E0FF, #FCDBD1);
    padding: 50px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-section form {
    max-width: 600px;
    margin: 0 auto;
}

.form-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-fields{
    width: 550px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #000000;
    border-radius: 25px;
}

.contact-form textarea{
    font-family:'Outfit',sans-serif ;
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-fields:focus{
    border: 2px solid #800002;
}

.contact-fields::placeholder{
    color: #bdbdbd;
}

.contact-section button {
    display: flex;
    align-items: center;
    padding: 3px 25px;
    font-size: 16px;
    color: #ffffff;
    gap: 10px;
    background-color: #7cd4de;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.contact-section button img {
    height: auto;
    width: 45px
}

.contact-section button:hover {
    background-color: #ADBBDA;
}


/* Footer */
footer {
    padding: 20px;
    background: #272635;
    color: #B1E5F2;
    text-align: center;
}

footer .social-media {
    margin-top: 10px;
}

h1, h2, p {
    margin: 0;
}

/* Vinyl loading page */
.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F1A084;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.vinyl-record {
    width: 250px;
    height: 300px;
    background: url('assets/mock-vinyl .png') no-repeat center center;
    background-size: cover;
    opacity: 0;
    animation: fadeIn 0.5s forwards, spin 2s linear infinite 0.5s;
}

@keyframes fadeIn {
    to { opacity: 1; }
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(940deg); } 
}

.zoom-out {
    animation: zoomOut 0.5s forwards;
}

@keyframes zoomOut {
    to {
        transform: scale(0);
        opacity: 0;
    }
}

/* Landing Page
.landing-page {
    background-color: #F1A084;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
/* Music Card */
/* .music-card {
    background-color: #f7c9b8;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 1000px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    transform-style: preserve-3d; */ */
/* }
.big-play-button {
    margin-left: 15%;

} */

/* .music-card:hover {
    transform: scale(1.05) rotateY(5deg);
    box-shadow: rgba(50, 50, 93, 0.45) 0px 50px 120px -20px, rgba(0, 0, 0, 0.6) 0px 30px 80px -30px;
} */

/* Cover Image */
/* .cover-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
} */

/* Intro Text */
.intro {
    flex-grow: 1;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #32373B;
}

.intro p {
    font-size: 1.25rem;
    color: #880D1E;
}

/* Big Play Button */
.big-play-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: pulse 1.5s infinite ease-in-out;
}

.big-play-button img {
    width: 80px;
    height: 80px;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.main-content {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: none; 
    /* overflow: auto; */
    height: 100vh; 
}

/* scroll transition */
/* 
@keyframes appear {
    from{
        scale: 0.8;
    }
    to {
        scale: initial;
    }
}

.fade-in {
    animation: appear linear;
    animation-timeline: view();
    range: entry 0%;
} */


/* Music Playback Bar */


.music-player{
    height:80px;
    width: auto;
    background-color: white;
    /* position: sticky; */

}

.music-bar{
    height:10px;
    width: auto;
    background-color: orange;

}

.progress {
    height: 10px;
    background-color: #800002;
    width: 40%;

}

/* .music-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #f4c4b3;
    color: #EDE8F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.music-bar .progress {
    flex-grow: 1;
    height: 5px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.music-bar .progress-bar {
    height: 100%;
    background-color: #541010;
    transition: width 0.5s;
}

.music-bar .play-time {
    margin-left: 20px;
    font-size: 16pt;
} */


/* Media Queries */
@media (max-width: 768px) {
    .sticky-header {
        padding: 14px 20px;
    }

    .sticky-header nav ul {
        font-size: 14pt;
        gap: 15px;
    }

    .hero-section h1 {
        font-size: 60px;
        font-weight: bolder;
        padding-bottom: 120px;
    }

    .about-section{
        font-size: 18pt;
    }
    .experience-section {
        flex-direction: column;
    }

    .job-number, .experience-dates {
        align-items: center;
    }
}

@media (max-width: 480px) {
    .hero-section h1 {
        font-size: 60px;
        font-weight: bolder;
        padding-bottom: 150px;
    }

    .sticky-header nav ul li a {
        font-size: 14pt;
    }

    .about-section{
        font-size: 5pt;
    }

    .contact-form {
        padding: 15px;
    }
}
