<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gracious Ogyiri Asare</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    </head>

    <body>
 
        <!-- Loading Page -->
        <div class="loading-page">
            <div class="vinyl-record"></div>
        </div>

        <!-- Main Content -->
        <div class="main-content" id="main-content">
            <div class="hero-section" id="hero-section">
                <div class="hero-content">
                    <h1>Gracious Ogyiri Asare</h1>
                    <img src="{{ url_for('static', filename='assets/mock-gracious-cover.jpg') }}" alt="Gracious Ogyiri Asare">
                </div>
            </div>

            <!-- Sticky Header -->
            <header class="navbar">
                <nav>
                    <ul>
                        <li><a href="#about-section" class="nav-link">About</a></li>
                        <li><a href="#experience-section" class="nav-link">Experience</a></li>
                        <li><a href="#projects-section" class="nav-link">Projects</a></li>
                        <li><a href="#contact-section" class="nav-link">Contact</a></li>
                    </ul>
                
       
                </nav>
                                <button class="add-music-btn" id="spotify-login" title="Add Your Vibe">Add A Track</button>
                                <!-- <button class="add-music-btn" id="spotify-login" onclick="location.href='/login'" title="Add Your Vibe">Add A Track</button> -->

            </header>


            <!-- Popup Section -->
<section class="modal hidden">
  <div class="flex">
    <button class="btn-close">&times;</button>
  </div>
  <div>
    <h3>Share music with me!</h3>
    <p>I love discovering new music! Add any track to this shared Spotify playlist.</p>
  </div>

  <input type="email" id="email" placeholder="Search" />
  <button class="btn" id="spotify-login" onclick="location.href='/login'">Login to Spotify</button>
</section>

<div class="overlay hidden"></div>


<!-- About Section -->

            <section id="about-section">
  <div class="about-section">
    <div class="about-title-container">
      <h2 class="fade-in">About Gracious</h2>
      <p class="fade-in about-me"> Welcome! I am Gracious Ogyiri Asare and I love creating things. I enjoy the process of letting concepts in my mind become a reality- whether it's a full-stack website, or music track! I am currently a Computer Science major at Boston University, with an interest in full-stack web development and DevOps engineering. I am dedicated to creating impactful solutions, to create value in any way possible.</p>
    </div>
    <div class="about-info">
      <p class="about-title">From</p>
      <p class="about-pg">Ghana/United States</p><br>
      <p class="about-title">Education</p>
      <p class="about-pg">Boston University Class of 2026</p><br>
      <p class="about-title">Skills</p>
      <p class="about-pg">Python, HTML/CSS, Swift, Javascript</p>
    </div>
  </div>
</section>

        <!-- Experience Section -->
        <section id="experience-section">
        <div class="experience-section" id="experience-section">
            
            <div class="album-cover">
                <div class="resume-img">
                    <a href="{{ url_for('static', filename='assets/Gracious O. Asare.pdf') }}" target="_blank">
                    <img src="{{ url_for('static', filename='assets/mock-resume-cover.jpg') }}" class="resume-img" alt="Gracious Ogyiri Asare">
                </div>
                <div class="play-button"></div>
                </a>
            </div>
            
            <div class="job-number fade-in">
                <h2 class="fade-in">1</h2>
                <h2>2</h2>
                <h2>3</h2>
            </div>

            <div class="experience-list">
                <div class="experience-item" id="experience-1" data-logo="{{ url_for('static', filename='assets/job1.png') }}">
                    <h3>Tech Dev Intern</h3>
                    <p>Sponsors for Educational Opportunity</p>
                </div>
                <div class="experience-item" id="experience-2" data-logo="{{ url_for('static', filename='assets/job2.png') }}">
                    <h3>Bits Lead</h3>
                    <p>Boston University Girl's Who Code</p>
                </div>
                <div class="experience-item" id="experience-3" data-logo="{{ url_for('static', filename='assets/job3.png') }}">
                    <h3>Founder/President</h3>
                    <p>Rophe Jewels</p>
                </div>
            </div>

            <div class="experience-dates">
                <p>05.24</p>
                <p>04.24</p>
                <p>01.24</p>
            </div>

            
        </div>
    </section>

        <!-- Projects Section -->
        <section id="projects-section">
        <div class="projects-section fade-in" id="projects-section">
            <div class="projects-list">
                <h2 class="fade-in">Featured</h2>
                <div class="project-item fade-in">
                    <img src="{{ url_for('static', filename='assets/mock-project1.gif') }}" alt="Gracious Ogyiri Asare">
                    <div class="play-button" onclick="window.open('https://github.com/SEO-TECH-PROJECTS/Portfolio_Tracker', '_blank')">
                        <img src="{{ url_for('static', filename='assets/mock-playbutton-small.png') }}" alt="Gracious Ogyiri Asare">
                    </div>
                    <h3>Stock Portfolio Website</h3>
                    <p>Flask, Python, HTML/CSS, REST APIs </p>
                </div>
                <div class="project-item fade-in">
                    <img src="{{ url_for('static', filename='assets/mock-project2.gif') }}" alt="Gracious Ogyiri Asare">
                    <div class="play-button" onclick="window.open('https://github.com/AnthonyC247/CrowdSync', '_blank')">
                        <img src="{{ url_for('static', filename='assets/mock-playbutton-small.png') }}" alt="Gracious Ogyiri Asare">
                    </div>
                    <h3>CrowdSync- Events Search</h3>
                    <p>Python, Flask, JavaScript, HTML/CSS, Ticketmaster API</p>
                </div>
                <div class="project-item fade-in">
                    <img src="{{ url_for('static', filename='assets/mock-project1.gif') }}" alt="Gracious Ogyiri Asare">
                    <div class="play-button" onclick="window.open('https://github.com/stavros-0/CS411Project', '_blank')">
                        <img src="{{ url_for('static', filename='assets/mock-playbutton-small.png') }}" alt="Gracious Ogyiri Asare">
                    </div>
                    <h3>Workout/Playlist Generator</h3>
                    <p>Python, Flask, React, HTML/CSS, Firebase</p>
                </div>
                <div class="project-item fade-in">
                    <img src="{{ url_for('static', filename='assets/mock-project2.gif') }}" alt="Gracious Ogyiri Asare">
                    <div class="play-button" onclick="window.open('https://github.com/sheisgracious/HeadAid', '_blank')">
                        <img src="{{ url_for('static', filename='assets/mock-playbutton-small.png') }}" alt="Gracious Ogyiri Asare">
                    </div>
                    <h3>HeadAid- Migraine Tracker App</h3>
                    <p>Swift, CoreML, HealthKit, SiriKit</p>
                </div>
                <div class="project-item fade-in">
                    <img src="{{ url_for('static', filename='assets/mock-project1.gif') }}" alt="Gracious Ogyiri Asare">
                    <div class="play-button" onclick="window.open('https://github.com/sheisgracious/Timezone-project', 'https://gpoatimezone.pythonanywhere.com/')">
                        <img src="{{ url_for('static', filename='assets/mock-playbutton-small.png') }}" alt="Gracious Ogyiri Asare">
                    </div>
                    <h3>TimeZoner- Timezone finder</h3>
                    <p>Python, Flask, HTML/CSS, Google Maps API</p>
                </div>            
            </div>
        </div>
        </section>


        <!-- Contact me section -->
        <section id="contact-section">
        <div class="contact-section" id="contact-section">
            
            <form action="https://formspree.io/f/mldelvjp" method="POST" class="contact-form">
                <div class="form-title fade-in">
                    <h2>Drop A Beat ⬇️ </h2> 
                    <img src= "{{ url_for('static', filename='assets/Gracious-linkedin.png') }}" class="linkedin" onclick="window.open('https://linkedin.com/in/gpoa', '_blank')" alt="Gracious Ogyiri Asare"> 
                    <img src= "{{ url_for('static', filename='assets/Gracious-github.png') }}" class="github" onclick="window.open('https://github.com/sheisgracious', '_blank')" alt="Gracious Ogyiri Asare"> 
                </div>
                <input type="text" name="name" placeholder="Your Name" class="contact-fields fade-in" required>
                <input type="email" name="email" placeholder="Your Email" class="contact-fields" fade-in required>
                <textarea name="message" placeholder="Type a message" class="contact-fields fade-in" required></textarea>
                <button type="submit" class="fade-in">Send<img src="{{ url_for('static', filename='assets/Gracious-arrow.webp') }}" alt="Gracious Ogyiri Asare"></button>
            </form>
        </div>
        <div id="successMessage" style="display: none;"></div>

        </section>

        <!-- Footer -->
        <footer>
            <p>© 2024 Gracious Ogyiri Asare | gpoa@bu.edu</p>
            <div class="social-media">
            </div>
        </footer>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <!-- <div class="music-player">
            <div class="music-bar">
                <div class="progress" id= "progress" > </div>    
            </div>
        </div> -->
    </body>
</html>
